page-login {
    .planoDeFundo {
        background: #FFA500;
    }
    img {
        margin-top: 10%;
        width: 65%;
        margin-left: 18%;
        margin-top: -10%;
    }
    h1 {
        padding-top: 12%;
        position: relative;
        text-align: center;
        color: black;
    }
    h4 {
        padding-top: 2%;
        position: relative;
        text-align: center;
    }
    .btnEsquerdo {
        background: white;
        color: black;
    }
    .btnDireito {
        background: black;
    }
}